html{
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    
    
}
*{
    padding: 0;
    margin: 0;

    
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffff;
}
img{
    width: 100%;
}