/* -------------------------------- variables ------------------------------- */

html{
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    
    
}


li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffff;
}
img{
    width: 100%;
}

body{
    max-width: 1200px;
    margin: auto;
    
    background-color: black;
    color: #FFFF;
    display: fleX;
    flex-direction: column;
    align-items: center;
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}


/* --------------------------------- navBar --------------------------------- */


.navBar{
    display: none;

}
.navBar__container{

}

/* ---------------------------------- hero ---------------------------------- */
.hero{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background-image: url("https://www.eluniverso.com/resizer/FMBSgpU4fqnJ4QdJy1_gpPsLvSY=/1117x670/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/ACWXLECUDRBDFDSNTZHBWPXIME.jpg");
    background-repeat: none;
    background-size: cover;
    color: #FFFF;
    
}
.hero__container{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.hero__text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
    margin: 0.4rem;
    margin-top: 100px;
    padding: 0.8rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    text-align: center;

    
}
.hero__title{
    font-size: 3.4rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}
.hero__paragrap{
    font-size: 1.6rem;
    font-weight: 200;
}
/* --------------------------- issue Mision --------------------------- */

.issue__container{
    


}
.issue__text_container{
    padding: 0.4rem;
    text-align: center;
    color: #FFFF;
    

    

}
.issue__title{
    font-size:  3.4rem;
    font-weight: 700;

    
    


}
.issue__paragrap{
    font-size: 1.6rem;
    font-weight: 200;

}

/* -------------------------------- solucion -------------------------------- */
.solution{
    

}
.solution__container{
   
}
.divider__title{
    margin: 1.2rem 0 ;
    text-align: center;
    font-size: 3.4rem
}

.solution__paragrap{
    
    font-size: 1.6rem;
    font-weight: 200;
    text-align: justify;
    

}

.solution__text_container{

    padding:0.8rem;
    
}

.img__con{
    height: 320px;
    overflow: hidden;
    background-image: url("https://img.freepik.com/free-vector/global-network-isometric-glowing-composition-with-mobile-devices-satellite-internet-purple_1284-33338.jpg?w=740&t=st=1680482527~exp=1680483127~hmac=8afc5aef863c997776f4b580d16cdac022b3805b35c9da3ce49acadf2c6cc139");
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-box-shadow:0px 0px 25px 1px rgba(240,110,236,0.9);
    -moz-box-shadow: 0px 0px 25px 1px rgba(240,110,236,0.9);
    box-shadow: 0px 0px 25px 1px rgba(240,110,236,0.9);

}

.solution__img_container{
    

}
.solution__img{
    
    display: none;
}

/* ---------------------------------- cards --------------------------------- */
.cards{
    width: 100%;
    display: flex;
    flex-direction: column;


}

.cards__title{
    margin: 1.2rem 0 ;
    text-align: center;
    font-size: 3.4rem;



}
.cards__container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
    gap: 0.8rem;
}

.cards__card{
    width: 90%;
     max-width: 400px;
    height: 150px;
    padding: 0.8rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    -webkit-box-shadow:0px 0px 25px 1px rgba(171,46,255,0.9);
    -moz-box-shadow: 0px 0px 25px 1px rgba(171,46,255,0.9);
    box-shadow: 0px 0px 25px 1px rgba(171,46,255,0.9);

}
.card__title{
    margin-bottom: .8rem;
}

.card__tex{
    font-size: 1.6rem;
    font-weight: 200;
}


/* ---------------------------------- issue --------------------------------- */
.issue{

}

.issue__text_container{
    margin-bottom: 0.4rem;
    padding-bottom: 0;
}
.issue__title{
    font-size: 3.4rem;
}
.issue__img{
    
}
/* -------------------------------- benefits -------------------------------- */

.benefits___container{
    margin-top: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    gap: 0.8rem;

}

.benefit__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 95%;
    max-width: 300px;

    

    padding: 0.8rem;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);


    -webkit-box-shadow:0px 0px 25px 1px rgba(240,110,236,0.9);
    -moz-box-shadow: 0px 0px 25px 1px rgba(240,110,236,0.9);
    box-shadow: 0px 0px 25px 1px rgba(240,110,236,0.9);

}
.benefit__text_container{

}
.benefit__title{
    font-size: 1.8rem;

}
.benefit__paragrap{
    font-size: 1.6rem;
    font-weight: 200;
}

.benefit__img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    


}
.benefit__img{
    width: 100%;
    border-radius: 16px;

}
/* --------------------------------- footer --------------------------------- */
footer{
    width: 100%;
    margin-top:  2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    text-align: center;
}
footer h2{
    margin: 0;    
}
footer p{
    margin-bottom: 2.4rem;
    
}


/* --------------------------------- efectst -------------------------------- */
.neon__pink{
    -webkit-box-shadow:0px 0px 25px 1px rgba(240,110,236,0.9);
    -moz-box-shadow: 0px 0px 25px 1px rgba(240,110,236,0.9);
    box-shadow: 0px 0px 25px 1px rgba(240,110,236,0.9);

}
.neon__purple{
    -webkit-box-shadow:0px 0px 25px 1px rgba(171,46,255,0.9);
    -moz-box-shadow: 0px 0px 25px 1px rgba(171,46,255,0.9);
    box-shadow: 0px 0px 25px 1px rgba(171,46,255,0.9);

}
